body {
  background-color: #dee3e7;
  font-family: sans-serif;
  text-align: center;
  user-select: none;
  padding: 0;
  margin: 0;
}

div {
  border-radius: 1em;
  padding: .25em;
  display: flex;
  align-items: center;
}

div[data-state='active'] .letter {
  cursor: pointer;
}

div[data-state='pending'] .letter {
  background-color: #fbfcff;
  cursor: not-allowed;
  color: black;
}

.letter {
  display: inline-block;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  align-content: center;
  color: white;
  border-radius: .2em;
  margin-right: .2em;
  width: 2em;
  height: 2em;
  border: 2px solid #dee1e9;
}

.letter.whitespace {
  background-color: white;
  color: black;
}

.letter.next {
  border: 2px solid black;
}

.letter[data-type='error'] {
  background-color: salmon;
}

.letter[data-type='unused'] {
  background-color: #a4aec4;
  color: white;
}

.letter[data-type='solved'] {
  background-color: rgb(106, 170, 100);
}

.letter[data-type='wrong-position'] {
  background-color: #f3c237;
}

pre {
  text-align: left;
  background-color: #efefef;
  flex-grow: 1;
  border-radius: 1em;
  padding: 1em;
  margin: 0;
  box-shadow: 0 0 .5em #9a9a9a;
}

main {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 1em;
  gap: 1em;
}

@media (max-width: 480px) {
  main {
    flex-direction: column;
  }
}

header {
  margin: 0;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #444;
  box-shadow: 0 0 1em #9a9a9a;
  color: white;
  text-align: left;
}

h1 {
  margin: 0;
  font-size: 1em;
}

#letters {
  background-color: white;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 0 .5em #9a9a9a;
}
